.container h1 {
  margin-bottom: 50px;
  font-family: "Courier New", Courier, monospace;
  border-bottom: 1px gray solid;
  width: 70%;
}

.medio-pago {
  width: 220%;
  height: auto;
}

.medio-pago img {
  display: grid;
  place-items: center;
}
