.list-component {
  background-color: #f4f4f4;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 280px;
}

.list-component li {
  margin-left: 60px;
  gap: 10px;
  text-align: center;
  color: gray;
}

.lista-uno {
  margin-bottom: 2%;
  border-top: 2px rgb(110, 90, 90) solid;
  padding-top: 11px;
  width: 12%;
}

.list-imagenes {
  height: auto;
  margin-top: 50px;
}

.list-imagenes img {
  height: 42px;
}

.lista-dos {
  margin-bottom: 13%;
}

.lista-tres {
  margin-bottom: 5%;
  text-align: left;
}

.lista-cuatro img {
  margin-bottom: 10%;
}

.lista-cinco {
  height: 90%;
}

.lista-seis {
  margin-top: 14%;
  width: 120px;
  height: 40px;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px gray solid;
}

.ayuda {
  margin-right: 90px;
}

.search-button-lista {
  margin-left: 5px;
  margin-bottom: 15%;
  width: 70px;
  height: 40px;
  background-color: #ff7233;
  color: white;
  cursor: pointer;
  border: transparent;
  border-radius: 5%;
}

.search-button-lista:hover {
  background-color: rgb(214, 88, 42);
}

.lista-siete {
  background-color: #ff7233;
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-right: 90px;
  border: transparent;
  cursor: pointer;
  border-radius: 5%;
}

.lista-siete:hover {
  background-color: rgb(214, 88, 42);
}
